
/* general styles and layout */

* {
	margin: 0px;
	padding: 0px;
}
body {
	font-family: Trebuchet MS;
	max-width: 1400px;
	background-color: #ffffff;
}
img {
	max-width: 100%;
}
#container {
	margin: 0 auto;
	width: 100%;
	background-color: #ffffff;
}
header {
	background-color: #ff5628;
	padding: 1% 1% 1% 1%;
	color: #ffffff;
	border-bottom: 1px solid #696969;
}
#content {
	clear:both;
	width: 70%;
	float: left;
	background-color: #ffffff;
	padding: 1% 2% 2% 2%;
	border-right:1px solid #696969;
	border-top:1px solid #696969;
}
#contact {
	float:left;
	width: 25%;
	background-color: #ffffff;
	border-top:1px solid #696969;
}


/* content */

.subcontent {
	font-size: .75em;
	line-height: 1em;
	margin-bottom: 1em;
}
p {
	margin: 2% 1% 2% 1%;
}
.large-cap {
	font-size: 1.5em;
	font-weight:bolder;
	color: #ff5628;
}
.green {
	color: #779e00;
}

/* contact */

#contact ul li {
	list-style-type: none;
}

#contact ul li a {
	display: block;
	padding: 3px;
	border-bottom: 1px solid #0a0a0a;
	text-decoration: none;
	color: #0a0a0a;
}
#contact ul li a:hover {
	background-color: tomato;

}

/* navigation */

nav {
	width: 100%;
}
nav a {
	float: left;
	display:block;
	background-color: #ffffff;
	padding: 1%;
	border-left: 1px solid #696969;
	text-decoration: none;
	width:17%;
}
nav a:visited {
	background-color: #ffffff;
}
nav a:hover, a:active {
	background-color: #d4d4d4;
	color: #ff5628;
}
footer {
	clear: both;
	background-color: #ff5628;
	padding: 1%;
	text-align: center;
}

/* image and caption */

.caption {
	width: 70%;
	margin: 0 auto;
	border-radius: 10px;
	background-color: #ffffff;
	border: 1px solid #ababab;
	padding: 5px 5px 5px 5px;
}
.caption img {
	display: block;
	margin: 0 auto;
	padding: 15px 0px 15px 0px;
}
.caption .caption-text {
	display: block;
	width: 75%;
	position: relative;
	left: 5%;
	top: -5em;
	color: #ffffff;
	background-color: #000000;
	opacity: 0.6;
	padding: 5px 10px 5px 10px;
	font-size: 0.75em;
}