.navbar-spacer {
  margin-top: 1em;
}
ul.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li.navbar-item {
  display: inline-block;
  padding: 1em;
  margin: 1px;
  background-color: tomato;
}
li.navbar-item a {
  color: #ffffff;
  text-decoration: none;
}
