header {
  text-align: center;
  margin-bottom: 3%;
}
#contact {
}
footer {
  clear: both;
  text-align: center;
  padding-top: 3%;
}

h3 {
  border-bottom: 1px solid tomato;
}
h4 {
  margin-top: 2%;
}
h5 {
  margin-top: -1%;
}

header h4 {
  color: tomato;
  margin-top: -0.5em;
}
li {
  text-indent: 1em;
  list-style-position: inside;
}
#experience, #projects h3 {
  margin-top: 1em;
}
.experience h4 {
  display: inline-block;
}
.experience h5 {
  display: inline-block;
}
.experience h6 {
  color: tomato;
}
.experience h7::before {
  content: "\00232a";
  color: tomato;
  font-weight: bold;
  padding-right: 0.5em;
}
.experience h7 {
  color: #444;
  font-style: italic;
  line-height: 2em;
  font-weight: bold;
}
.experience p {
  margin-bottom: 0.5em;
}
.experience li {
  line-height: 0.75em;
}
.project h4 {
  display: inline-block;
  margin-right: 0.75em;
  margin-top: 0em;
}
.project p {
  margin-bottom: 0.5em;
}
