header {
  text-align: center;
  margin-bottom: 3%;
}
#contact {
}
footer {
  clear: both;
  text-align: center;
}

h3 {
  border-bottom: 1px solid tomato;
}
h4 {
  margin-top: 2%;
}
h5 {
  margin-top: -1%;
}

header h4 {
  color: tomato;
  margin-top: -0.5em;
}
li {
  text-indent: 1em;
}
.experience h4 {
  display: inline-block;
}
.experience h5 {
  display: inline-block;
}
.experience h6 {
  color: tomato;
}
.experience li {
  line-height: 0.75em;
}